*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    width:100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    place-items: center;
    background-color: #FFFFFF;
}
.container{
    width:418px;
    height:600px;
    background-color: #F2F5F9;
}
.hero{
    object-fit: cover;
    width: 100%;
}
.hero-image{
    width:100%;
    height:100%;
    border-radius: 15px;
}
.content{
    width:350px;
    margin-inline:1.7rem;
    margin-top:-1rem;
}
h1{
    font-size: 24px;
    color:#111729;
    line-height: 2.3rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 550;
}
p{
    font-size: 16px;
    font-family: 'Lato',sans-serif;
    color:#677489;
    margin-top: -.5rem;
    line-height: 1.7rem;
}
.avatar{
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-top:1rem;
}
.author{
    margin-left:1rem;
    margin-top:2rem;
    display: flex;
}
.name{
    font-family: 'Lato',sans-serif;
    font-size:16px;
    line-height: 1.5rem;
}
.description{
    font-family: 'Lato',sans-serif;
    font-size:12px;
    line-height: 0;
}
aside{
    margin-left:1rem;
}
svg{
    margin-top:-100px;
}